.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
}
